
*{
    font-family: "M PLUS 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    padding:0;
    margin:0;
}
body{
    height:100dvh;
    width:100dvw;
    overflow:hidden;
}

#view-port{
    flex-flow: column;
    display: flex;
}
#top-bar{
    width:100%;
    padding-left:2em;
    background: white;
}

#top-bar::before{
    content:"";
    display: block;
    position: absolute;
    width:5px;
    height:2.5em;
    top:.25em;
    left:1em;

    background: red;
}

#video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin:clamp(1em,8dvh,5em) 0;

    object-fit: contain;
}

#video video{
    width:80%;
    height:20em;
    max-width:50em;
}

#answer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#num{
    position:absolute;
    bottom:0;
    right: 0;
    font-size: 7em;
    color:rgba(0,0,0,.1);
    user-select: none;
    z-index: -100;
}
#buttons{
    display: flex;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin:1em;
    height:4em;
    width:4em;
    border-radius: .8em;
    box-shadow: rgba(0,0,0,.5) 2px 0px 3px 0;
    border-bottom:5px gray solid;
    background-color: #f0f0f0;

    transition: .1s;

}

.button:hover{
    margin-top:calc(1em + 5px);
    border-bottom:0px gray solid;
    background-color: #f0f0f0;
}

.selection{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin:calc(1em + 5px) 1em 1em 1em;
    height:4em;
    width:4em;
    border-radius: .8em;
    box-shadow: rgba(0,0,0,.5) 2px 0px 3px 0 inset;
    border-bottom:0px gray solid;
    background-color: #f0f0f0;

    transition: .1s;
}

.disc{
    color:rgba(0,0,0,.5);
}

.invalid{
    margin-top:calc(1em + 5px);
    border-bottom:0px gray solid;
    background-color: #f0f0f0;
    box-shadow: none;
    cursor:default;
    color:gray;
}
#error{
    color:red;
}

#NowLoading{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    height:100dvh;
    width:100dvw;
    background-color: white;
    z-index: 1000;
    transition: 0.1s;
}

@keyframes spin {
    0% { transform: rotate(0deg) scale(1);}
    100% { transform:  rotate(1080deg) scale(1); }
}

.sending{
    border-radius: 100%;
    transition: 0.2s;
    /*animation:spin linear infinite 2s;*/
    border: none;
    color: rgba(255,255,255,0);
}

.sending:before,.loading:after{
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    color: #666;
    line-height: 1;
    width: 2.5em;
    height: 2.5em;
    border: 0.3em solid currentColor;
    border-top-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    content:"";
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

